<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='/public/CSS/fullcalendar.css' rel='stylesheet' />
    <link href='/public/CSS/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='/public/JS/moment.js'></script>
    <script src='/public/JS/jquery.js'></script>
    <script src='/public/JS/fullcalendar.js'></script>
    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css">


    <!-- Title -->
    <title>Merchant Portal | Merchant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '2016-07-15',
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'TestUser',
                        start: '2016-06-28',
                        end: '2016-07-01',
                        url: '/testUser'
                    },
                    {
                        title: 'Niall Curran',
                        start: '2016-07-19',
                        end: '2016-07-21',
                        url: '/merchantBooked1'
                    },
                    {
                        title: 'Simon Markham',
                        start: '2016-07-05',
                        end: '2016-07-12',
                        url: '/merchantBooked2'
                    },
                    {
                        title: 'Nimon Karkham',
                        start: '2016-06-19',
                        url: '/merchantBooked3'
                    },
                    {
                        title: 'Niall Curran',
                        start: '2016-07-27',
                        end: '2016-07-30',
                        url: '/merchantBooked1'
                    },
                    {
                        title: 'TestUser',
                        start: '2016-06-11',
                        url: '/testUser'
                    },
                    {
                        title: 'TestUser',
                        start: '2016-06-12',
                        url:'/testUser'
                    },
                    {
                        title: 'TestUser',
                        start: '2016-08-08',
                        end: '2016-08-23',
                        url:'/testUser'
                    }

                ]
            });

        });
    </script>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;

        }
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div class="page-header">
    <h1><img alt="Brand" src="/public/images/logo.png" style="width:85px;height:85px;"/> Merchant Portal </h1>
</div>
<div class="container">
    <h2> Your Bookings:</h2>
    </br>
    <div class="jumbotron">
        <div id='calendar' class="fc fc-unthemed fc-ltr" style="color: forestgreen;"></div>
    </div>
</div>

<div class="clearfix visible-lg"></div>
<center>
    <footer class ="footer">
        <div class = "container">
            <p class=" text-muted">Merchant Portal &copy; 2016</p>
        </div>
    </footer>
</center>
</div>

</body>
</html>